services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "3000:3000"
      - "4983:4983"
    volumes:
      - .:/app
      - /app/.next
      - node_modules:/app/node_modules
      - pnpm_store:/pnpm/store
    environment:
      - NODE_ENV=development

volumes:
  node_modules:
  pnpm_store:
