@theme {
  --film-roll-duration: 60s;
  --film-roll-timing: linear;
  --film-roll-iteration: infinite;
}

@keyframes film-roll-flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

.film-roll-flow {
  background-repeat: repeat-y;
  background-size: 100% auto;
  animation: film-roll-flow var(--film-roll-duration) var(--film-roll-timing) var(--film-roll-iteration);
}

/* Film Roll Background Images */
.bg-filmroll-left {
  background-image: url('/layouts/fuda_filmroll_left.webp');
}

.bg-filmroll-right {
  background-image: url('/layouts/fuda_filmroll_right.webp');
}

@media (prefers-reduced-motion: reduce) {
  .film-roll-flow {
    animation: none;
  }
}
